@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
}

.incident-marker {
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.resource-marker {
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}